<h1 class="m-3">Mes groupes de musique préférés</h1>

<div class="m-3">
  <label for="file" class="label-file">Importer mes groupes : </label>
  <input type="file" id="file" class="input-file form-control" accept=".xlsx" (change)="readExcel($event)"/>
</div>

<div class="d-flex justify-content-start p-5">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Nom du groupe</th>
      <th scope="col">Origine</th>
      <th scope="col">Ville</th>
      <th scope="col">Année début</th>
      <th scope="col">Année Séparation</th>
      <th scope="col">Fondateurs</th>
      <th scope="col">Membres</th>
      <th scope="col">Courant musical</th>
      <th scope="col">Présentation</th>
    </tr>
    </thead>
    <tbody *ngFor="let groupeMusique of groupeMusiques">
    <tr>
      <td>{{ groupeMusique.nomGroupe}}</td>
      <td>{{ groupeMusique.origine}}</td>
      <td>{{ groupeMusique.ville}}</td>
      <td>{{ groupeMusique.anneeDebut | date:'y'}}</td>
      <td>{{ groupeMusique.anneeSeparation | date:'y'}}</td>
      <td>{{ groupeMusique.fondateurs}}</td>
      <td>{{ groupeMusique.membres}}</td>
      <td>{{ groupeMusique.courantMusical}}</td>
      <td>{{ groupeMusique.presentation}}</td>
      <td>
        <button routerLink="/groupe-musique/{{ groupeMusique.id }}" class="btn btn-primary">Consulter/modifier</button>
      </td>
      <td>
        <button (click)="deleteGroupe(groupeMusique.id)" class="btn btn-danger">Supprimer</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

